<launch>
    
    <arg name="machine" default="local"/>
    <arg name="record" default="false"/>
    <arg name="debug" default="false"/>
    
    <env name="ROSCONSOLE_CONFIG_FILE" 
        value="$(find run)/config/rosconsole_debug.config" if="$(arg debug)"/>
    <env name="ROSCONSOLE_CONFIG_FILE" 
        value="$(find run)/config/rosconsole_info.config" unless="$(arg debug)"/>

    <machine name="local" address="localhost" default="true"/>

     <include file="$(find run)/launch/record.launch">
        <arg name="record" value="$(arg record)"/>
        <arg name="bag_name" value="base"/>
    </include>

    <include file="$(find supervisor)/launch/supervisor.launch"/>
    <include file="$(find dvl)/launch/dvl.launch"/>
    <include file="$(find tcu)/launch/tcu.launch"/>
    <include file="$(find compass)/launch/compass.launch"/>
    <include file="$(find navig)/launch/navig_node.launch"/>
    <include file="$(find navig)/launch/position_estimator.launch"/>
    <include file="$(find motion)/launch/motion.launch"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <include file="$(find roswww)/launch/roswww.launch"/>
</launch>