<launch>

    <machine name="local" address="localhost" default="true"/>

    <arg name="machine" default="local"/>
    <arg name="record_data" default="false"/>


	<include file="$(find run)/launch/record.launch">
		<arg name="record_data" value="$(arg record_data)"/>
		<arg name="bag_name" value="mission"/>
    </include>
    
    <include file="$(find run)/launch/base.launch"/>
    <include file="$(find mission)/launch/mission.launch"/>
    
</launch>