<launch>

    <machine name="local" address="localhost" default="true"/>
    
    <arg name="machine" default="local"/>
    <arg name="record" default="false"/>
    <arg name="bag_name" default="default"/>
    
    <node name="data_record" pkg="rosbag" type="record" 
        args="-a 
        -o $(find run)/../../storage/$(arg bag_name) 
        --lz4
        --split --size=512
        -x (.*)/image_mono(.*)|(.*)/compressed(.*)|(.*)/theora(.*)" 
        if="$(arg record)"/>

</launch>