<launch>
	<!-- <arg name="record_data" default="true" /> -->
	<arg name="data_path" default="$(find motion)/../../storage/simulation" />

    <node name="data_record" pkg="rosbag" type="record" 
    args="-a -o $(arg data_path)"/>

    <include file="$(find supervisor)/launch/supervisor_simulation.launch"/>
    <include file="$(find tcu)/launch/tcu.launch"/>
    <include file="$(find compass)/launch/compass_simulation.launch"/>
    <include file="$(find navig)/launch/navig_simulation.launch"/>
    <include file="$(find navig)/launch/position_estimator.launch"/>
    <include file="$(find motion)/launch/motion.launch"/>
</launch>