<launch>

    <node pkg="supervisor" name="supervisor" type="supervisor_node">
    </node>

    <node pkg="navig" name="navig" type="navig_node">
    </node>

    <node pkg="navig" name="position_estimator" type="position_estimator_node">
    </node>

    <node pkg="compass" name="compass" type="x_sens_node" args="-c /dev/ttyS0 -b 57600">
    </node>

    <node name="tcu" pkg="tcu" type="tcu" output="screen">
        <rosparam file="$(find tcu)/tcu.yml" command="load" />
    </node>

    <node pkg="motion" name="motion" type="motion_node">
    </node>

</launch>