<launch>

    <machine name="local" address="localhost" default="true"/>
    
    <arg name="machine" default="local"/>
    <arg name="record_data" default="false"/>

     <include file="$(find run)/launch/record.launch">
        <arg name="record_data" value="$(arg record_data)"/>
        <arg name="bag_name" value="video"/>
    </include>

    <include file="$(find avt_vimba_camera)/launch/two_cameras.launch"/>
    <include file="$(find dsp)/launch/dsp.launch"/>
    <include file="$(find video)/launch/video.launch"/>
</launch>