<launch>
    <node name="record" pkg="record" type="record_master" output="screen">
        <rosparam file="$(find record)/config/record.yml" command="load" />
    </node>
    
    <node name="record_vision" pkg="record" type="record" output="screen" required="true">
        <rosparam file="$(find record)/config/record.yml" command="load" />
        <rosparam>
            bagname: vision
        </rosparam>
    </node>
    
    <node name="record_telemetry" pkg="record" type="record" output="screen" required="true">
        <rosparam file="$(find record)/config/record.yml" command="load" />
        <rosparam>
            bagname: telemetry
        </rosparam>
    </node>
</launch>
